@import './popover-selector.vars.scss';

.deni-react-popover-selector-container {
  font-family: arial,tahoma;
  min-height: 45px;
  width: 800px;
  max-height: 100px;
  cursor: default;

  .deni-react-popover-selector {
    border: solid 1px silver;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 2px;
    border-radius: 8px;
    background-color: #ffffff;

    .deni-react-popover-selector-loading {
      margin: 5px;
      width: 24px;
      height: 24px;
    }

    .deni-react-popover-selector-input {
      height: 22px;
      margin-top: 3px;
      margin-left: 6px;
      width: 95px;
      border: none;
      outline: none;
      background-color: inherit;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d9d9d9;
        font-size: 12px;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #d9d9d9;
        font-size: 12px;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #d9d9d9;
        font-size: 12px;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #d9d9d9;
        font-size: 12px;
      }

    }
  }

}

.deni-react-popover {
  padding: 8px 0px !important;

  .deni-react-popover-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 180px;
    padding: 8px !important;
  }

}
